<% provide(:title, "Signup") %>
<h1>Sign Up</h1>
<p>
    This is the Sign Up Page for the <a href= "www.railstutorial.org/">Ruby on Rails Tutorial</a>.<br>
    Kindly fill in the form later when my code is finish.
</p>